.Rproj.user
.Rhistory
.RData
.Ruserdata
"1516 Q3 additional info.xlsx"
"Backup of Failures by Quarter (2014-07-03).wbk"
"Failures by Quarter (2014-02-28).docx"
"Failures by Quarter (2014-07-03).docx"
Failures by Quarter (2014-11-02).docx
Failures by Quarter (2015-02-05).docx
Failures by Quarter 14-15 Q2.pptx
Failures by Quarter 14-15 Q3.docx
Failures by Quarter 14-15 Q3.pptx
Failures by Quarter 14-15 Q4.docx
Failures by Quarter 14-15 Q4.pptx
Failures by Quarter 15-16 Q1.docx
Failures by Quarter 15-16 Q1.pptx
Failures by Quarter 15-16 Q2.docx
Failures by Quarter 15-16 Q2.pptx
Failures by Quarter 15-16 Q3.docx
Failures by Quarter 15-16 Q3.pptx
Failures by Quarter 16-17 Q1.docx
Failures by Quarter 16-17 Q1.pptx
Failures by Quarter 16-17 Q2.docx
Failures by Quarter 16-17 Q2.pptx
Failures by Quarter 2014-03-10.pptx
Failures by Quarter 2014-04-21.pptx
Failures by Quarter 2014-10-28.pptx
Tracking Data.doc
failures_by_quarter.xlsx
focus students 2.xlsx
focus students.xlsx
focus.xlsx
quarter 1, 13-14.xlsx
quarter 1, 14-15.xlsx
Backup of Failures by Quarter (2014-07-03).wbk
Failures by Quarter (2014-02-28).docx
Failures by Quarter (2014-07-03).docx
1516 Q3 additional info.xlsx
~$failures_by_quarter.xlsx
~$focus students.xlsx
all quarter grades 1415 Q1 through 1617 Q2.xlsx
Failures by Quarter 16-17 Q3.docx
Failures by Quarter 16-17 Q3.pptx
Failures by Quarter 16-17 Q4.docx
Failures by Quarter 16-17 Q4.pptx
Thumbs.db
focus student results by teacher.docx
